* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', sans-serif !important;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  body {
    width: fit-content;
    margin: auto;
  }
}
 
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  body {
    width: fit-content;
    margin: auto;
  }
}

/* Home Pgae */
h1.top-heading {
  text-align: center;
  margin: 100px 0 50px 0;
}
p.top-des {
  text-align: center;
  font-size: 22px;
}
a.btn-inline-down {
  font-size: 20px;
  padding: 15px 35px;
  color: #ffffff;
  border-color: #0098f7;
  background: #0098f7;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
}
a.btn-inline-ex {
  font-size: 20px;
  padding: 15px 35px;
  color: #252525;
  border-color: #ffffff;
  background: #ffffff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
}

.row-btn a {
  margin: 10px;
}
.gif-home-img {
  margin: 50px 0 50px 0;
}
p.text-bold {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #515151;
}
.bg-dark-color {
  background: #f5f5f5;
  padding: 100px;
  margin-bottom: 100px;
}
p.heading-text {
  text-align: center;
  font-size: 33px;
  color: #353535;
  margin-bottom: 50px;
}
.bg-white {
  padding: 50px;
  box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
  margin-top: 100px;
  margin-bottom: 100px;
}
.top-space {
  margin-top: 80px;
  text-align: center;
}
p.text-small {
  text-align: center;
}
p.inline-title {
  font-size: 27px;
  color: #353535;
  margin-left: 50px;
  padding-top: 10px;
  margin-bottom: 30px;
}
p.inline-des {
  color: #515151;
  font-size: 16px;
  margin-bottom: 50px;
  margin-left: 50px;
}
a.inline-btn {
  color: #fff;
  background: #0098F7;
  border-radius: 2px 2px 2px 2px;
  padding: 12px 24px 12px 24px;
  margin-left: 50px;
}
a.plan-btn {
  color: #fff;
  background: #0098F7;
  border-radius: 2px 2px 2px 2px;
  padding: 12px 24px 12px 24px;
}
.plan-btn-style {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Features Page */
p.gen-title {
  font-size: 42px;
}
p.grey-text {
  color: #8892a0;
  font-size: 24px;
  margin-top: 25px;
  line-height: 32px;
}
.box-top-space {
  margin-top: 60px;
}
p.grid-title {
  font-size: 20px;
  font-weight: 700;
  color: #353535;
  padding-top: 15px;
}

/* Download Page */
span.bg-light-color {
  background: #bde3fb5c;
  padding: 10px;
  border-radius: 4px;
  font-family: "Lucida Console", Monaco, monospace;
}
.center-text.col-sm-4 {
  margin-top: 100px;
  margin-bottom: 100px;
}
p.top-text {
  text-align: center;
  font-size: 33px;
  color: #353535;
  margin-bottom: 50px;
}
/* Docs Page */
.doc-card.col-sm-4 {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 5px;
  color: #7a7a7a;
  padding-top: 0.8em;
  margin-top: 20px;
}
h3.text-light {
  font-weight: 300;
  color: #353535 !important;
  line-height: 1.5;
  font-size: 30px;
}
p.text-light {
  color: #333 !important;
  margin-top: 50px;
}
.r-btn.highlight {
  color: #fff;
  background: #0098F7;
  border-radius: 2px 2px 2px 2px;
  padding: 12px 24px 12px 24px;
  margin-bottom: 50px;
}
.btn-inline {
  margin-top: 50px;
}
img.entered.lazyloaded {
  margin-top: 20px;
}
/* Online Page */
.online-icon {
  color: #0098f7;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.online-card.col-sm-3 {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 5px;
  color: #7a7a7a;
  padding-top: 0.8em;
  margin-top: 20px;
  margin-right: 10px;
}
h3.online-light {
  font-weight: 700;
  color: #353535;
  line-height: 1.5;
  font-size: 19px;
}
p.online-text-light {
  padding-left: 20px;
  padding-right: 20px;
  color: #333;
  padding-bottom: 40px;
}
.strong {
  font-weight: 600;
}
.button {
  text-align: center;
  margin-top: 50px;
}
/* Sencha */

a.btn-onliline-ex {
  font-size: 20px;
  padding: 15px 35px;
  color: #fff;
  border-color: #0098F7;
  background: #0098F7;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
}
a.btn-explore {
  margin-right: 10px;
  text-decoration: none;
}
p.SenchaTitle {
  font-size: 24px;
  color: #404040;
  line-height: 1.5;
}
p.BlueHeading {
  font-size: 28px;
  font-weight: 500;
  color: #0098f7;
}
img.ProductCalloutIMG {
  box-sizing: border-box;
  border: 4px solid;
  color: #d8d8d8;
}
p.PriceBoxTitle {
  text-align: center;
  color: #0098f7;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 50px;
  line-height: 1.5;
}
.PriceBox.col-sm-6 {
  border: 2px dashed #5da2f1;
  vertical-align: top;
  padding: 10px 30px;
  margin-right:10px;
}
a.TrialBtn {
  color: #fff;
  background: #5da2f1;
  text-align: center;
  padding: 15px;
  font-weight: bold;
  font-size: 24px;
  margin-top: 100px;
  display: block;
}
.PricingBoxRow {
  margin-bottom: 100px;
}
.bottom-space {
  margin-bottom: 100px;
}
.KeyFeatureROW {
  margin-bottom: 100px;
}
